.footer {
  background-color: rgba(8, 7, 5, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 0.75rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  bottom: 0;
  font-size: clamp(1vw, 13px, 3vw);
  z-index: 1000; /* Ensure the footer is above other elements */
}

.footer p {
  color: #FAFAFA;
  opacity: 0.3
}