
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Exo+2);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/
weather-icons.min.css);

.main {
  font-size: clamp(14px, 16px, 5vw);
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.navHeader {
  background-color: #222;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  position: fixed;
  z-index: 100; /* Ensure the header is above other elements */
}

.title {
  color: #fafafa;
}
