.weatherSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10vh 5vw;
  text-align: center;
  position: relative; /* Ensure positioning context for absolute elements */
  overflow: hidden; /* Prevent layers from overflowing */
}

.weatherDetails {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: clamp(2vw, 16px, 5vw);
  text-align: center;
  z-index: 100; /* Ensure text is above parallax layers */
}

.location {
  font-size: 150%;
}

.tempForecast {
  font-size: 300%;
}

.mightAs {
    margin-bottom: -3vw;
}

.planetName {
  font-size: 450%;
  letter-spacing: 2.5vw;
  text-transform: uppercase;
  max-width: 90vw;
  word-wrap: break-word;
}

.planetDesc {
  display: none;
  line-height: 1.15;
}

.icon_and_weatherInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  margin-top: 5vw;
}

.temperature {
  font-size: 5vw;
  color: white;
}

.place {
  text-align: center;
  font-size: 3.5vw;
  margin-top: 7vw;
  color: white;
}

.weatherCondition {
  color: white;
}

.date {
  text-align: center;
  font-size: 2vw;
  margin-top: 2vw;
  color: white;
}

@media (max-width: 500px) {

  .weatherSection {
    padding-top: 10vh;
  }

  .weatherDetails {
    margin-top: 6vh;
    font-size: clamp(1.5vw, 16px, 3.25vw);
  }
}